<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <connectionStrings>
    <add name="Vista" connectionString="Data Source='Data\malik.vdb5'" providerName="System.Data.VistaDB5"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.VistaDB5"/>
      <add invariant="System.Data.VistaDB5" name="VistaDB 5 Data Provider" description="VistaDB 5 ADO.NET Provider for .Net" type="VistaDB.Provider.VistaDBProviderFactory, VistaDB.5.NET40"/>
    </DbProviderFactories>
  </system.data>

</configuration>
